@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-bgcolor: #111928;
	--secondary-bgcolor: #1f2a37;
	--primary-text-color: #ffffff;
	--secondary-text-color: #9ca3af;
	--border-color: #374151;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: var(--main-bgcolor);
	color: var(--primary-text-color);
}

/* //NAVIGATION/ */

nav {
	width: 100%;
	height: 3.75rem;
	padding: 1.5rem 1rem 0;
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.logo {
	width: 3.625rem;
	height: 2.25rem;
	cursor: pointer;
}

.hamburger {
	height: 1.23rem;
	width: 1.44rem;
	cursor: pointer;
}

.nav-desktop {
	display: none;
}

/* //HERO/ */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 1rem;
	gap: 1rem;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.head-h1 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.875rem;
	vertical-align: middle;
}

.head-text {
	line-height: 150%;
	color: var(--secondary-text-color);
}

.btns {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem 1.25rem;
	border-radius: 8px;
	font-weight: 500;
	line-height: 1.5rem;
	cursor: pointer;
}

.btn-primary {
	background-color: #1a56db;
	color: var(--primary-text-color);
	border: none;
}

.btn-secondary {
	border: 1px solid #4b5563;
	background-color: var(--secondary-bgcolor);
	color: var(--secondary-text-color);
}
.camera-btn {
	margin: 0 0.625rem 0;
}

.sponsors {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.hero-img {
	width: 100%;
	height: 100%;
}

/* SOCIAL PROOF */

.social {
	margin: 0 1rem 2rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 1rem;
}

.social-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-title {
	font-size: 2rem;
	font-weight: 800;
	line-height: 125%;
}

.social-text {
	color: var(--secondary-text-color);
	margin: 0 0 1rem;
	line-height: 150%;
}

/* ARTICLES */

.articcles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 1rem 2rem;
}

.article {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.article-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.article-text {
	color: var(--secondary-text-color);
	line-height: 150%;
	font-size: 1.125rem;
}

.article-btns {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.article-btn {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
	padding: 0.625rem 1.25rem;
	border-radius: 8px;
	gap: 0.5rem;
	cursor: pointer;
}

/* LOGOS */

.logos {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 1rem;
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.logos-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.logos-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
	align-items: center;
}

.logos-text {
	color: var(--secondary-text-color);
	line-height: 150%;
}

.logos-span {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 150%;
	color: #3f83f8;
	gap: 0.375rem;
}

.logos-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(6, 2fr);
	gap: 1.5rem;
}

.logos-card {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.logos-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.logos-container-span {
	line-height: 125%;
	color: #6b7280;
}

.logos-btns {
	display: flex;
	justify-content: center;
}

.logos-btn {
	display: flex;
	flex-direction: row-reverse;
	gap: 0.5rem;
	padding: 0.5rem 0.75rem;
	background: none;
	border: 1px solid #4b5563;
	color: var(--secondary-text-color);
	border-radius: 0.5rem;
	cursor: pointer;
}

/* EVENT CARDS */

.events {
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	gap: 1rem;
}

.events-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.events-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.events-text {
	color: var(--secondary-text-color);
	line-height: 150%;
}

.events-cards {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.event-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 1rem;
}

.hero-event-img {
	position: relative;
	width: 100%;
	height: 39vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 8px;
}

.hero-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-1.jpg);
}

.hero-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-2.jpg);
}

.event-card-progress {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.25rem;
}

.event-card-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.event-card-left {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.event-card-left h3 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 150%;
}

.event-card-left span {
	color: var(--secondary-text-color);
	line-height: 150%;
	font-size: 0.875rem;
}

.event-card-span-right {
	font-size: 0.75rem;
	color: var(--secondary-text-color);
}

.event-card-bar {
	position: relative;
	width: 100%;
	height: 0.5rem;
	background-color: var(--border-color);
	border-radius: 8px;
	overflow: hidden;
}

.event-card-bar-bg {
	position: absolute;
	inset: 0;
	background-color: #1a56db;
	width: 80%;
	border-radius: 8px;
}

.event-card-bar-bg-2 {
	position: absolute;
	inset: 0;
	background-color: #1a56db;
	width: 50%;
	border-radius: 8px;
}

.event-card-head {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 125%;
}

.event-card-text {
	line-height: 150%;
	color: var(--secondary-text-color);
}

.event-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem 1.25rem;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
	cursor: pointer;
}

.event-btn img {
	margin: 0 0.5rem 0 0;
}

.event-card-span {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 150%;
	color: #3f83f8;
	gap: 0.375rem;
}

/* CONTACT FORM */

.contact {
	padding: 2rem 1rem;
}

.contact-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.contact-head h2 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 150%;
}

.contact-head p {
	color: var(--secondary-text-color);
	line-height: 150%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.form-input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-input input {
	width: 100%;
	padding: 0.625rem 1rem;
	border-radius: 8px;
	line-height: 150%;
	border: 1px solid var(--border-color);
	background-color: #374151;
	color: var(--secondary-text-color);
}

.form-input label {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
}

.form-area {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
}

.form-area textarea {
	min-height: 11.6rem;
	max-height: 20rem;
	padding: 0.8125rem 1.25rem;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	background-color: #374151;
	color: var(--secondary-text-color);
	resize: none;
}

/* FOOTER */

footer {
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	padding: 6rem 0 4rem;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 1rem;
	gap: 4rem;
}

.nav-links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.nav-link {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.nav-link-head {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	text-transform: uppercase;
}

.nav-link-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
}

.nav-link-list a {
	text-decoration: none;
	color: var(--secondary-text-color);
}

.social-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
}

.social-logo-span {
	color: var(--secondary-text-color);
	line-height: 150%;
}

.social-links {
	display: flex;
	gap: 1.25rem;
}
