@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-bgcolor: #111928;
	--secondary-bgcolor: #1f2a37;
	--primary-text-color: #ffffff;
	--secondary-text-color: #9ca3af;
	--border-color: #374151;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: var(--main-bgcolor);
	color: var(--primary-text-color);
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
}
/* //NAVIGATION/ */

nav {
	padding: 1.5rem 1rem 0;
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	align-items: center;
}

.logo {
	cursor: pointer;
}

.hamburger {
	cursor: pointer;
}

.nav-desktop {
	display: none;
	gap: 4rem;
	align-items: center;
}

.nav-desktop-links {
	flex: 1;
	display: flex;
	gap: 2rem;
	list-style: none;
}

.nav-desktop-links a {
	text-decoration: none;
	color: var(--primary-text-color);
	line-height: 1.5rem;
}

.nav-desktop-btns {
	display: flex;
	align-items: center;
	gap: 1rem;
	white-space: nowrap;
}

.nav-desktop-btns p {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.nav-desktop-btn {
	padding: 0.625rem 1.25rem;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
	cursor: pointer;
}

/* //HERO/ */

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	gap: 1rem;
}

.hero-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.head-h1 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.875rem;
	vertical-align: middle;
}

.head-text {
	line-height: 1.5rem;
	color: var(--secondary-text-color);
}

.btns {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem 1.25rem;
	border-radius: 0.5rem;
	font-weight: 500;
	line-height: 1.5rem;
	cursor: pointer;
}

.btn-primary {
	background-color: #1a56db;
	color: var(--primary-text-color);
	border: none;
}

.btn-secondary {
	border: 1px solid #4b5563;
	background-color: var(--secondary-bgcolor);
	color: var(--secondary-text-color);
}
.camera-btn {
	margin: 0 0.625rem 0;
}

.sponsors {
	width: 100%;
	display: flex;
	/* flex-wrap: nowrap; */
	align-items: center;
	gap: 1.5rem;
}
.hero-span {
	display: none;
	font-weight: 500;
	line-height: 1.5rem;
	color: var(--secondary-text-color);
}

.hero-img {
	position: relative;
	width: 100%;
	height: clamp(167px, 40vw, 360px);
	background-image: linear-gradient(rgba(14, 159, 110, 0.2), rgba(14, 159, 110, 0.2)), url(./img/image-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
	color: rgb(14, 159, 110);
}

/* SOCIAL PROOF */

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 1rem 2rem;
	gap: 4rem;
}

.social-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}

.social-items {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: 8px;
}

.social-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}
.social-text {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

/* ARTICLES */

.articles-section {
	padding: 0 1rem 2rem;
}

.articles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* .article {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
} */

.article-right {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
}

.hero-article-img {
	display: none;
	position: relative;
	width: 100%;
	/* min-height: 350px;
	max-height: 600px; */
	aspect-ratio: 4/3;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
}

.article-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.article-text {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
	font-size: 1.125rem;
}

.article-btns {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.article-btn {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
	padding: 0.625rem 1.25rem;
	border-radius: 8px;
	gap: 0.5rem;
	cursor: pointer;
}

/* LOGOS */

.logos {
	padding: 2rem 1rem;
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.logo-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.logos-head {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	gap: 1rem;
	align-self: center;
	text-align: center;
}

.logos-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.logos-text {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

.logos-span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	line-height: 1.5rem;
	color: #3f83f8;
	gap: 0.375rem;
}

.logos-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.logos-card {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.logos-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.logos-container-span {
	line-height: 125%;
	color: #6b7280;
}

.logos-btns {
	display: flex;
	justify-content: center;
}

.logos-btn {
	display: flex;
	flex-direction: row-reverse;
	gap: 0.5rem;
	padding: 0.5rem 0.75rem;
	background: none;
	border: 1px solid #4b5563;
	color: var(--secondary-text-color);
	border-radius: 0.5rem;
	cursor: pointer;
}

/* EVENT CARDS */

.events {
	padding: 2rem 1rem;
}

.events-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.events-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 600px;
	text-align: center;
	align-self: center;
}

.events-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.events-text {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

.events-cards {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.event-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	padding: 1rem;
}

.hero-event-img {
	position: relative;
	width: 100%;
	aspect-ratio: 16/9;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	border-radius: 8px;
}

.hero-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-1.jpg);
}

.hero-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-2.jpg);
}

.event-card-progress {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.25rem;
}

.event-card-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.event-card-left {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.event-card-left h3 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.event-card-left span {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
	font-size: 0.875rem;
}

.event-card-span-right {
	font-size: 0.75rem;
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

.event-card-bar {
	position: relative;
	width: 100%;
	height: 0.5rem;
	background-color: var(--border-color);
	border-radius: 8px;
	overflow: hidden;
}

.event-card-bar-bg {
	position: absolute;
	inset: 0;
	background-color: #1a56db;
	width: 80%;
	border-radius: 8px;
}

.event-card-bar-bg-2 {
	position: absolute;
	inset: 0;
	background-color: #1a56db;
	width: 50%;
	border-radius: 8px;
}

.event-card-head {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 125%;
}

.event-card-text {
	line-height: 1.5rem;
	color: var(--secondary-text-color);
}

.event-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem 1.25rem;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
	cursor: pointer;
}

.event-btn img {
	margin: 0 0.5rem 0 0;
}

.event-card-span {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.5rem;
	color: #3f83f8;
	gap: 0.375rem;
}

/* CONTACT FORM */

.contact {
	padding: 2rem 1rem;
}

.contact-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	align-self: center;
	max-width: 600px;
}

.contact-head h2 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.5rem;
}

.contact-head p {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	gap: 1.5rem;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}

.form-input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-input input {
	width: 100%;
	padding: 0.875rem 1rem;
	border-radius: 8px;
	line-height: 1.5rem;
	border: 1px solid var(--border-color);
	background-color: #374151;
	color: var(--secondary-text-color);
}

.form-input label {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.form-area {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
}

.form-area textarea {
	min-height: 11.6rem;
	max-height: 20rem;
	padding: 0.8125rem 1.25rem;
	border-radius: 8px;
	border: 1px solid var(--border-color);
	background-color: #374151;
	color: var(--secondary-text-color);
	resize: none;
}

/* FOOTER */

footer {
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	padding: 6rem 0 4rem;
}

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 1rem;
	gap: 4rem;
}

.nav-links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.nav-link {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.nav-link-head {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5rem;
	text-transform: uppercase;
}

.nav-link-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
}

.nav-link-list a {
	text-decoration: none;
	color: var(--secondary-text-color);
}

.social-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
}

.social-logo-span {
	color: var(--secondary-text-color);
	line-height: 1.5rem;
}

.social-links {
	display: flex;
	gap: 1.25rem;
}

/* 
///////// MEDIA QUERIES ////////// */

@media (max-width: 350px) {
	.logos-container {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 764px) {
	.logos-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1024px) {
	.nav-mobile {
		display: none;
	}

	.nav-desktop {
		display: flex;
	}

	.hero {
		padding: 6rem 1rem;
		flex-direction: row;
		justify-content: space-between;
		gap: 4rem;
	}

	.hero-container {
		gap: 2rem;
	}

	.hero-sponsors {
		display: flex;
		flex-direction: column;
		padding: 2rem 0 0;
		gap: 0.75rem;
		border-top: 1px solid var(--border-color);
	}

	.sponsors {
		gap: 0;
		justify-content: space-between;
	}

	.hero-btns {
		flex-direction: row;
		width: 380px;
	}

	.btn {
		flex: 1;
	}

	.head-h1 {
		font-size: 3rem;
		line-height: 3rem;
	}

	.head-text {
		font-size: 1.125rem;
	}

	.hero-span {
		display: block;
	}

	.social {
		padding: 6rem 1rem;
	}

	.social-items {
		flex-direction: row;
		justify-content: space-around;
		padding: 1.5rem 1rem;
	}

	.social-item {
		border-right: 1px solid var(--border-color);
		width: 100%;
	}

	.social-item:last-child {
		border-right: none;
	}

	.hero-article-img {
		display: block;
	}

	.articles-section {
		padding: 0 1rem 6rem;
	}

	.article {
		display: flex;
		flex-direction: row;
		gap: 5rem;
	}

	.article-title {
		font-size: 2.25rem;
		letter-spacing: -1%;
	}

	.article-reverse {
		flex-direction: row-reverse;
	}

	.img-1 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-1.jpg);
	}

	.img-2 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-2.jpg);
	}

	.img-3 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-3.jpg);
		background-repeat: repeat;
		background-position: center;
	}

	.logos {
		padding: 6rem 1rem;
		gap: 4rem;
	}

	.logos-title {
		font-size: 2rem;
		letter-spacing: -1%;
	}

	.logos-text {
		font-weight: 300;
		font-size: 1.125rem;
	}

	.logos-container {
		grid-template-columns: repeat(4, 1fr);
		row-gap: 2rem;
	}

	.events {
		padding: 6rem 1rem;
	}

	.events-container {
		gap: 2rem;
	}

	.events-title {
		font-size: 2rem;
		letter-spacing: -1%;
	}

	.events-text {
		font-size: 1.125rem;
	}

	.events-cards {
		flex-direction: row;
		gap: 3rem;
	}

	.event-card {
		padding: 2rem;
	}

	.event-card-span {
		font-size: 1.125rem;
	}

	.btns {
		flex-direction: row;
	}

	.contact {
		padding: 6rem 1rem;
	}

	.contact-container {
		gap: 4rem;
	}

	.contact-head h2 {
		font-size: 2rem;
		letter-spacing: -1%;
		line-height: 125%;
	}

	.contact-head p {
		font-size: 1.125rem;
	}

	footer {
		padding: 6rem 0 4rem;
	}

	.footer-container {
		align-items: center;
		gap: 4rem;
	}
	.nav-links {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
}
