@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: #111928;
	color: #ffffff;
}

/* //NAVIGATION/ */

nav {
	width: 100%;
	height: 3.75rem;
	padding: 1.5rem 1rem 0;
}

.nav-mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.logo {
	width: 3.625rem;
	height: 2.25rem;
}

.hamburger {
	height: 1.23rem;
	width: 1.44rem;
}

.nav-desktop {
	display: none;
}

/* //HERO/ */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2rem 1rem;
	gap: 1rem;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.head-h1 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.875rem;
	vertical-align: middle;
}

.head-text {
	line-height: 150%;
	color: #9ca3af;
}

.btns {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	border-radius: 8px;
	font-weight: 500;
	line-height: 1.5rem;
	cursor: pointer;
}

.btn-primary {
	background-color: #1a56db;
	color: #ffffff;
	border: none;
}

.btn-secondary {
	border: 1px solid #4b5563;
	background-color: #1f2a37;
	color: #9ca3af;
}
.camera-btn {
	margin: 0 0.625rem 0;
}

.sponsors {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

/* .hero-img {
	position: relative;
	background-image: url(/img/carousel.png);
	width: 100%;
	height: 30vh;
	min-height: 260px;
	max-height: 820px;
	border-radius: 8px;
	background-size: cover;
	background-position: center;
} */

/* .hero-shadow{
	position: absolute;
	background-color: ;
} */

.hero-img {
	width: 100%;
	height: 100%;
}

/* SOCIAL PROOF */

.social {
	margin: 0 1rem 2rem;
	background-color: #1f2a37;
	border: 1px solid #374151;
	border-radius: 8px;
	padding: 1rem;
}

.social-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-title {
	font-size: 2rem;
	font-weight: 800;
	line-height: 125%;
}

.social-text {
	color: #9ca3af;
	margin: 0 0 1rem;
	line-height: 150%;
}

/* ARTICLES */

.articcles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 0 1rem 2rem;
}

.article {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.article-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}

.article-text {
	color: #9ca3af;
	line-height: 150%;
	font-size: 1.125rem;
}

.article-btns {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.article-btn {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
	padding: 0.625rem 1.25rem;
	border-radius: 8px;
	gap: 0.5rem;
}

/* LOGOS */

.logos {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 1rem;
	background-color: #1f2a37;
	border-top: 1px solid #374151;
	border-bottom: 1px solid #374151;
}

.logos-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
}

.logos-title {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
	align-items: center;
}

.logos-text {
	color: #9ca3af;
	line-height: 150%;
}

.logos-span {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 150%;
	color: #3f83f8;
	gap: 0.375rem;
}
