@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--main-bgcolor: #111928;
	--secondary-bgcolor: #1f2a37;
	--primary-text-color: #ffffff;
	--secondary-text-color: #9ca3af;
	--blue: #1a56db;
	--light-blue: #3f83f8;
	--border-color: #4b5563;
	--gray-color: #6b7280;
	--third-bgcolor: #374151;
	--border-radius: 0.5rem;
}
body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: var(--main-bgcolor);
	color: var(--primary-text-color);
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}
h2 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 125%;
}
.heading-text {
	line-height: 150%;
	color: var(--secondary-text-color);
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.625rem 1.25rem;
	border-radius: var(--border-radius);
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
	cursor: pointer;
	gap: 0.5rem;
}
.btn-reverse {
	flex-direction: row-reverse;
}
.hero-image {
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: var(--border-radius);
	overflow: hidden;
}
/* //NAVIGATION/ */
header {
	padding: 1.5rem 1rem 2rem;
}
.nav-mobile {
	display: flex;
	justify-content: space-between;
	gap: 4rem;
	align-items: center;
}
.logo {
	cursor: pointer;
}
.hamburger {
	cursor: pointer;
}
.nav-desktop {
	display: none;
	gap: 4rem;
	align-items: center;
}
.nav-desktop-links {
	flex: 1;
	display: flex;
	gap: 2rem;
	list-style: none;
}
.nav-desktop-links a {
	text-decoration: none;
	color: var(--primary-text-color);
	line-height: 150%;
}
.nav-desktop-btns {
	display: flex;
	align-items: center;
	gap: 1rem;
	white-space: nowrap;
}
.nav-btn {
	padding: 0.75rem 1.25rem;
	font-size: 1rem;
}
.nav-desktop-btns p {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
}
.section-head {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	align-self: center;
	max-width: 42rem;
}
/* //HERO/ */
.hero {
	display: flex;
	flex-direction: column;
	padding: 2rem 0 0;
	gap: 1rem;
}
.hero-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.head {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.head-h1 {
	font-size: 1.875rem;
	font-weight: 800;
	line-height: 1.875rem;
	vertical-align: middle;
}
.btns {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.btn-primary {
	background-color: var(--blue);
	color: var(--primary-text-color);
	border: none;
}
.btn-secondary {
	border: 1px solid var(--border-color);
	background-color: var(--secondary-bgcolor);
	color: var(--secondary-text-color);
}
/* .camera-btn {
	margin: 0 0.625rem 0 0;
} */
.sponsors {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;
}
.hero-span {
	display: none;
	font-weight: 500;
	line-height: 150%;
	color: var(--secondary-text-color);
}
.hero-img {
	height: clamp(167px, 40vw, 390px);
	background-image: linear-gradient(rgba(14, 159, 110, 0.2), rgba(14, 159, 110, 0.2)), url(./img/image-3.jpg);
	border-radius: var(--border-radius);
	color: rgb(14, 159, 110);
}
.hero-img img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1.14rem;
}
/* SOCIAL PROOF */
.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 1rem 2rem;
	gap: 4rem;
}
.social-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2rem;
}
.social-items {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}
.social-text {
	color: var(--secondary-text-color);
	line-height: 150%;
}
/* ARTICLES */
.articles-section {
	padding: 0 1rem 2rem;
}
.articles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.article-right {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	flex: 1;
}
.hero-article-img {
	display: none;
	max-width: 540px;
	max-height: 406px;
	aspect-ratio: 4/3;
	flex: 1;
}
.article-text {
	color: var(--secondary-text-color);
	line-height: 150%;
	font-size: 1.125rem;
}
.article-btns {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
/* LOGOS */
.logos {
	padding: 2rem 1rem;
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}
.logo-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.logos-text {
	color: var(--secondary-text-color);
	line-height: 150%;
}
.logos-span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	line-height: 150%;
	color: var(--light-blue);
	gap: 0.375rem;
}
.logos-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}
.logos-card {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}
.logos-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.logos-container-span {
	line-height: 125%;
	color: var(--gray-color);
}
.logos-btns {
	display: flex;
	justify-content: center;
}
.logos-btn {
	padding: 0.5rem 0.75rem;
	background: none;
	border: 1px solid var(--border-color);
	color: var(--secondary-text-color);
	flex-direction: row-reverse;
}
/* EVENT CARDS */
.events {
	padding: 2rem 1rem;
}
.events-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.events-cards {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.event-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--secondary-bgcolor);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	padding: 1rem;
}
.hero-event-img {
	aspect-ratio: 4/3;
	background-position: center;
}
.hero-1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-1.jpg);
}
.hero-2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/image-2.jpg);
}
.event-card-progress {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 0.25rem;
}
.event-card-upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.event-card-left {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
.event-card-left h3 {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 150%;
}
.event-card-left span {
	color: var(--secondary-text-color);
	line-height: 150%;
	font-size: 0.875rem;
}
.event-card-span-right {
	font-size: 0.75rem;
	color: var(--secondary-text-color);
	line-height: 150%;
}
.event-card-bar {
	position: relative;
	width: 100%;
	height: 0.5rem;
	background-color: var(--border-color);
	border-radius: var(--border-radius);
	overflow: hidden;
}
.event-card-bar-fill {
	position: absolute;
	inset: 0;
	background-color: var(--blue);
	width: var(--progress, 0%);
	border-radius: var(--border-radius);
}
.event-card-bar-bg {
	width: 80%;
}
.event-card-bar-bg-2 {
	width: 50%;
}
.event-card-head {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 125%;
}
.event-card-text {
	line-height: 150%;
	color: var(--secondary-text-color);
}
.event-btn img {
	margin: 0 0.5rem 0 0;
}
.event-card-span {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 150%;
	color: var(--light-blue);
	gap: 0.375rem;
}
/* CONTACT FORM */
.contact {
	padding: 2rem 1rem;
}
.contact-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	gap: 1.5rem;
}
.form-inputs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
}
.form-input {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.form-input input,
.form-area textarea {
	font-family: inherit;
}
.form-input input {
	width: 100%;
	padding: 0.875rem 1rem;
	border-radius: var(--border-radius);
	line-height: 150%;
	border: 1px solid var(--border-color);
	background-color: var(--third-bgcolor);
	color: var(--secondary-text-color);
}
.form-input label {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 150%;
}
.form-area {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
}
.form-area textarea {
	min-height: 11.6rem;
	max-height: 20rem;
	padding: 0.8125rem 1.25rem;
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	background-color: var(--third-bgcolor);
	color: var(--secondary-text-color);
	resize: none;
}
/* FOOTER */
footer {
	background-color: var(--secondary-bgcolor);
	border-top: 1px solid var(--border-color);
	padding: 6rem 0 4rem;
}
.footer-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2rem 1rem;
	gap: 4rem;
}
.nav-links {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.nav-link {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.nav-link-head {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 150%;
	text-transform: uppercase;
}
.nav-link-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
}
.nav-link-list a {
	text-decoration: none;
	color: var(--secondary-text-color);
}
.social-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.25rem;
}

.social-logo-span {
	color: var(--secondary-text-color);
	line-height: 150%;
}
.social-links {
	display: flex;
	gap: 1.25rem;
}
/* 
///////// MEDIA QUERIES ////////// */
@media (max-width: 350px) {
	.logos-container {
		grid-template-columns: 1fr;
	}
}
@media (min-width: 768px) {
	.logos-container {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	header {
		padding: 1.5rem 2rem 2rem;
	}
	.social {
		padding: 0 2rem 2rem;
	}
	.articles-section {
		padding: 0 2rem 2rem;
	}
	.logos {
		padding: 2rem 2rem;
	}
	.events {
		padding: 2rem 2rem;
	}
	.contact {
		padding: 2rem 2rem;
	}
	.footer-container {
		padding: 2rem 2rem;
	}
}
@media (min-width: 1024px) {
	header {
		padding: 1.5rem 3rem 6rem;
	}
	h2 {
		font-size: 2.25rem;
		line-height: 125%;
		letter-spacing: -0.01em;
	}
	.heading-text {
		font-size: 1.25rem;
	}
	.nav-mobile {
		display: none;
	}
	.nav-desktop {
		display: flex;
	}
	.hero {
		padding: 6rem 0 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 4rem;
	}
	.hero-container {
		gap: 2rem;
		flex: 1;
	}
	.hero-sponsors {
		display: flex;
		flex-direction: column;
		padding: 2rem 0 0;
		gap: 0.75rem;
		border-top: 1px solid var(--border-color);
	}
	.sponsors {
		gap: 2rem;
		justify-content: space-between;
	}
	.hero-btns {
		flex-direction: row;
		width: 380px;
	}
	.nav-btn {
		flex: 1;
	}
	.head-h1 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.head-text {
		font-size: 1.125rem;
	}

	.hero-img {
		flex: 1;
	}
	.hero-span {
		display: block;
	}
	.social {
		padding: 0 3rem 6rem;
	}
	.social-items {
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		padding: 1.5rem 1rem;
	}
	.social-container {
		align-items: center;
		padding: 0 2.5rem;
	}
	.social-item {
		border-right: 1px solid var(--border-color);
		width: 100%;
	}
	.social-item:last-child {
		border-right: none;
	}
	.hero-article-img {
		display: block;
	}
	.articles-section {
		padding: 0 3rem 6rem;
	}
	.article {
		display: flex;
		flex-direction: row;
		gap: 5rem;
	}
	.article-reverse {
		flex-direction: row-reverse;
	}
	.img-1 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-1.jpg);
	}
	.img-2 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-2.jpg);
	}
	.img-3 {
		background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1)), url(./img/hero-img-article-3.jpg);
		background-size: 490px;
		background-repeat: repeat;
		max-width: 540px;
		max-height: 406px;
	}
	.hero-event-img {
		aspect-ratio: 16/9;
	}
	.logos {
		padding: 6rem 3rem;
		gap: 4rem;
	}
	.logos-text {
		font-weight: 300;
		font-size: 1.125rem;
	}
	.logos-container {
		grid-template-columns: repeat(4, 1fr);
		row-gap: 2rem;
	}
	.events {
		padding: 6rem 3rem;
	}
	.events-container {
		gap: 2rem;
	}
	.events-cards {
		flex-direction: row;
		gap: 3rem;
	}
	.event-card {
		padding: 2rem;
	}
	.event-card-span {
		font-size: 1.125rem;
	}
	.btns {
		flex-direction: row;
	}
	.contact {
		padding: 6rem 3rem;
	}
	.contact-container {
		gap: 4rem;
	}
	footer {
		padding: 6rem 3rem 4rem;
	}
	.footer-container {
		align-items: center;
		gap: 4rem;
	}
	.social-logo {
		align-items: center;
	}
	.nav-links {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}
}
@media (min-width: 1440px) {
	.hero-article-img {
		max-width: 640px;
		max-height: 606px;
	}
	.social-container {
		padding: 0 7rem;
	}
}
